# Dependencies
**/node_modules/

# Environment variables
**/.env
.env.local
.env.*.local

# Logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build outputs
frontend/dist/
frontend/build/
backend/build/

# Cache files
**/.eslintcache
**/.cache
**/.parcel-cache

# Editor directories and files
.vscode/
.vs/
*.swp
*.swo

# Coverage
coverage/

# Misc
*.tgz
*.zip
*.tar